<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cupcakes</title>
    <meta charset="UTF-8"> <!-- Aggiunta la codifica UTF-8 -->
    <link rel="stylesheet" href="/static/index4.css">
</head>

<body>

    <h1>Lista dei Cupcake disponibili</h1>

    <!-- Messaggio se non ci sono cupcake -->
    <div th:if="${cupcakes == null || cupcakes.isEmpty()}">
        <p>Non ci sono cupcake nel sistema.</p>
    </div>

    <!-- Lista dei cupcake -->
    <div th:if="${cupcakes != null && !cupcakes.isEmpty()}">
        <ul>
            <li th:each="cupcake : ${cupcakes}">
                <a th:href="@{/cupcakes/{id}(id=${cupcake.id})}"
                   th:text="${cupcake.name} "></a>
            </li>
        </ul>
    </div>

    <!-- Link per tornare alla home admin -->
    <div class="footer-link">
        <a th:href="@{/}">Torna alla Home</a>
    </div>

</body>

</html>
